ProxyRequests off
<Proxy balancer://webcluster >
    BalancerMember http://3.91.71.99
    BalancerMember http://100.26.32.183
    ProxySet lbmethod=byrequests
</Proxy>

# Optional
<Location /balancer-manager>
  SetHandler balancer-manager
</Location>

ProxyPass /balancer-manager !
ProxyPass / balancer://webcluster/